.modal {
    background-color: rgba(36, 36, 36, 0.35);
}

.close {
    background-color: transparent;
    margin: 0.2rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.close:hover {
    cursor: pointer;
}

.modalBox {
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
}
